# Create .gitignore file
echo "venv/
media/
*.log
*.pyc
__pycache__/
*.sqlite3
*.pt
.DS_Store
.env" > .gitignore
.env

# Create .gitignore
echo "__pycache__/
*.py[cod]
*.sqlite3
media/
venv/
.env
*.log
*.pot
*.pyc
**/__pycache__
.DS_Store
.pytest_cache/
*.mp4
*.avi
*.mov" > .gitignore