
# requirements.txt
#Django
#gunicorn
#whitenoise
dj-database-url
# torch
# torchvision
# face-recognition
#opencv-python-headless
python-dotenv
#psycopg2-binary

#dlib==19.24.0  # Pre-built wheel available
#torch==2.0.1+cpu --extra-index-url https://download.pytorch.org/whl/cpu
#torchvision==0.15.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
#face-recognition==1.3.0
# Other dependencies...



Django==5.1.6
gunicorn==23.0.0
whitenoise==6.9.0
dj-database-url==2.3.0
opencv-python-headless==4.11.0.86
python-dotenv==1.0.1
psycopg2-binary==2.9.10
dlib==19.24.0
torch==2.2.1+cpu --index-url https://download.pytorch.org/whl/cpu
torchvision==0.17.1+cpu --index-url https://download.pytorch.org/whl/cpu
face-recognition==1.3.0

